body {
    font-size: 15pt;
}
*{
  margin: 0;  
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}
.hero{
  min-height: 100vh;
  background:rgba(0,0,7,.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column ;
}
.select-menu{
 width: 300px;
 border: 1px solid red;
 display: none;
 
}
#selected{
  padding: 15px 10px;
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul{
  background-color: #fff;
  border-top: 1px solid teal;
}
ul li{
  list-style: none;
  padding: 10px 20px;
}

.custom-radio{
  
}

.custom-radio input{
  
}
.custom-radio input:checked{
  
}
.custom-radio label{
  padding-left: 40px;
}
.custom-radio label::before{
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  border: 1px solid red;
  transform: translateX(-100%);
}
.custom-radio label::after{
  
}

